<tr class="message" data-time="<%= message.created_at.to_i %>">
  <td class="sender"><%= User.find(message.user_id).name %>: </td>
  <td class="content"><%= message.content %></td>
  <td>...<%= message.created_at.strftime("%T") %></td>
</tr>
