<li class='{{view_class}}'>
  <div class="top">
    <div class="sender"><p>{{sender}}</p></div>
    <div class="timestamp"><p>{{created_at}}</p></div>
    <div class="readers"><p>{{readers}}</p></div>
  </div>
  <div class="content"><p>{{content}}</p></div>
</li>
