<%= content_tag "li", id: "transcript-#{transcript.id}" do %>
  <%= link_to transcript.name, user_transcript_path(current_user, transcript) %>
  <span class='bolder'>|</span>
  <%= link_to 'Delete', user_transcript_path(current_user, transcript), :method => :delete, remote: true, class: 'delete_transcript_link' %>
<% end %>

