<div id="transcripts_page">
  <div class='center_spot'>
    <div id='controls'>
      <%= link_to "New Transcript", new_user_transcript_path(current_user), class: 'link_button' %>
    </div>
    <div id="transcripts">
      <p><span id='transcript_count'><%= @transcript_count.to_s %></span> Transcripts.</p>
      <ul>
        <%= render @transcripts %>
      </ul>
    </div>
  </div>
</div>

