<div id="transcripts_page">
  
  <%= link_to "Back", user_path(@user) %>

  <ul>
    <li><%= link_to "New Transcript", new_transcript_path(user: @user) %></li>
  </ul>

  <div id="transcripts">
    <p><%= "#{@transcript_count} transcripts." %></p>
    <ul>
      <%= render @transcripts %>
    </ul>
  </div>
</div>

