<div id="transcript_page">
  <ul>
    <li><%= link_to "New Transcript", new_transcript_path(user: @user) %></li>
  </ul>

  <div id="transcripts">
    <ul>
      <%= render @transcripts %>
    </ul>
  </div>
</div>
