<%= content_tag "div", id: "transcript_page", data: { id: @transcript.id } do %>
  <div id='transcripts_link'>
    <%= link_to "All Transcripts", transcripts_path, class: 'link_button' %>
  </div>
  <div class='page_title'><%= @transcript.name %></div>
  <div id="messages_section">
    <ul id="message_list">
    </ul>
  </div>
<% end %>

<script type='text/html' id='message_template'>
  <%= render 'messages/message' %>
</script>
