<%= content_tag "div", id: "transcript_show", data: { id: @transcript.id } do %>
  <%= link_to "Back", transcripts_path %>
  <%= link_to "Live Messages", user_path(@user) %>
  <p><%= @transcript.name %></p>

  <div id="messages_section">
    <ul id="message_list">
    </ul>
  </div>
<% end %>

