<% count = 0 %>
<% size = users.size %>
<% unless users.empty? %>
  <p>Available Users: 
  <% users.each do |user| %>
    <% if count == (size - 1) and size > 1 %>
      <span>and</span>
    <% elsif count > 0 %>
      <span>,</span>
    <% end %>
    <% options = { method: :post, remote: true, format: :js, class: "available_user" } %>
    <%= link_to(user.user_name, recipients_path(user: user), options) %>
    <% count += 1 %>
  <% end %>
  <span id='hide_button'> Hide</span></p>
<% else %>
  <p>Available Users: Nobody!<span id='hide_button'> Hide</span></p>
<% end %>
