<% if @online_users.nil? || @online_users.empty? %>
  $("ul#online_users_list").html("<li>Nobody's at the party!</li>");
<% else %>
  $("ul#online_users_list").html("<%=j(render(@online_users)) %>");
<% end %>

toggleRecipientSelectionSection();
