// display/refresh the online users
<% if @online_users.nil? || @online_users.empty? %>
  $("#online_users_list").html("<tr><td>Nobody's at the party!</td></tr>");
<% else %>
  $("#online_users_list").html("<%=j(render(@online_users)) %>");
<% end %>

// show the recipient selection
toggleRecipientSelectionSection();
