<% count = 0 %>
<% size = recipients.size %>
<% unless recipients.empty? %>
  <p>Messaging: 
  <% recipients.each do |recipient| %>
    <% if count == (size - 1) and size > 1 %>
      <span>and</span>
    <% elsif count > 0 %>
      <span>,</span>
    <% end %>
    <% name = User.find(recipient.recipient_user_id).name %>
    <%= link_to(name, recipient, :method => :delete, :remote => true, :format => :js) %>
    <% count += 1 %>
  <% end %>
  </p>
<% else %>
  <p>Messaging Nobody.</p>
<% end %>
