<td class='recipient_cell'>
  <ul class='recipient'>
    <li>
      <%= User.find(recipient.recipient_user_id).name %>
    </li>
    <li id="x_link">
      <%= link_to("×", recipient, :method => :delete, :remote => true, :format => :js) %>
    </li>
  </ul>
</td>
