<td class='recipient_cell'>
  <ul class='recipient'>
    <li>
      <%= User.find(recipient.recipient_user_id).name %>
    </li>
    <li id="xx_link">
      <%= link_to(image_tag("grey_x.png", :class => "x_button"), recipient, :method => :delete,
                                                                            :remote => true, 
                                                                            :format => :js,
                                                                            :class => "x_link",
                                                                            :alt => "X") %>
    </li>
  </ul>
</td>
