// display/refresh the recipients
$("table#recipients_table").html("<%= j(render(@my_recipients)) %>");

// display/refresh the online users, if any
<% if @online_users.nil? || @online_users.empty? %>
  $("table#online_users_list").html("<tr><td>Nobody's at the party!</td></tr>");
<% else %>
  $("table#online_users_list").html("<%=j(render(@online_users)) %>");
<% end %>
