<div class='recipient_desk'>
  <div class='<%= "recipient_desk_id #{recipient_desk.id}" %>'>
    <%= recipient_desk.name %>
  </div>
  <% if recipient_desk.user_id > 0 %> 
    <div class='<%= "recipient_user_id #{recipient_desk.user_id}" %>'>
      <%= "(#{User.find_by_id(recipient_desk.user_id).full_name})" %>
    </div>
  <% else %>
    <div class='recipient_user_id'>
      (vacant)
    </div>
  <% end %>
</div>
