<div id="about">
  <p>The Amtrak Central Division Inter-Office Communication System is a custom browser
     based web application that provides efficient messaging for Transportation Department
     employees.</p>
  <p>Users communicate by sending files and text messages to each other.  Each message can be
     sent to one or more users. A recipient can acknowledge a message with one click of the mouse
     providing the sender a receipt that the message has been read.</p>
  <p>Users log on to the system with a user name and password. All actions are timestamped and privileged users will
     have the ability to conduct reviews.</p>
</div>

