<div id='features'>
  <ul>
    <li>Amtrak Intranet Web Application</li>
    <li>Compatible with any modern browser</li>
    <li>No software installation required</li>
    <li>Fully functional messaging system</li>
    <li>Drag and drop file sending</li>
    <li>Long term data retention</li>
    <li>Fully integrated with Amtrak Arrow System</li>
    <li>Audible message alarm</li>
    <li>User Interface individually customizable</li>
    <li>Secure authentication with password encryption</li>
  </ul>
</div>

