<div id={{abrev}} class='recipient_workstation other'>
  <div class='outer'>
    <div class='info'>
      <p>{{name}}</p>
      <p class='user'>({{user}})</p>
    </div>
    <div class='icon'>
      <i class='fa fa-bolt'></i>
    </div>
  </div>
</div>
