$grey: #2E2A25; // 46, 42, 37
$light-grey: #615D57; // 97, 93, 87
$medium-grey: #838383; // 131, 131, 131
$real-lite-grey: #E5E5E5; // 229, 229, 229
$near-white: #F0DFD0;
$blackish: #010000;
$red: #F00807; // 240, 8, 7 
$green: #588F27; // 88, 143, 39
$blue: #004C98; // 0, 76, 152 

$error-red: #7f0000;
$error-light-red: #e0776e;
$error-bright-red: #bf0000;

//$blue: #1375b3; 
$deep-blue: #0003C7;
$dark-blue: #003e89; 
$yellow: #ffae17;
$light-yellow: #fcc560;
$bright-red: #F23C3C;
$dark-text: #323232;

$grey-background: #96968E;
$redish-background: #c8b7b7;
$grey-lettering: #666666;

$near-black: #171717;
$darkest-grey: #333131;
$dark-grey: #666261;
$greyish: #999391;

$cgrey: #2F2F2F;
$cdark-grey: #202020;
