$grey: #2E2A25;
$near-white: #F0DFD0;
$blackish: #000000;
$red: #F00807; // 240, 8, 7 
$green: #588F27; // 88, 143, 39
$blue: #004C98; // 0, 76, 152 

//$blue: #1375b3; 
$dark-blue: #003e89; 
$yellow: #ffae17;
$light-yellow: #fcc560;
$bright-red: #F23C3C;
$dark-text: #323232;
