@mixin header_style {
  background-color: $sgrey;
  @include inset-box-shadow;
  padding: 7px;
  margin-bottom: 5px;

  #main_menu {

    ul {

      li.active {

        a {
          @include outset-inset-box-shadow;
          @include border-radius(23px);
        }
      }

      li {
        display: inline;
        margin-left: 12px;

        a {
          text-decoration: none;
          padding: 3px 6px 3px 6px;
          color: $white-text;

          &:hover, &:focus {
            @include outset-inset-box-shadow;
            @include border-radius(23px);
          }
        }
      }

      li#page_title {
        font-size: 1.5em;
        text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.2);
        padding-right: 20px;
        font-weight: bold;
        color: $red;
      }

      li#sign_out_button {

        a {
          &:hover, &:focus {
            color: $red;
          }
        }
      }
    }
  }
}
