@import "messages_style";
@import "workstation_section_style";

@mixin messaging_page {
  margin: 4px;

  #upload {

    float: left;
    width: 17%;
    margin: 12px;

    #outer_upload_section {
      border: 2px solid $grey-lettering;
      background-color: $grey-background;
      @include border-radius(12px);
      padding: 3px;

      #upload_close_button {
        margin-left: -10px;
        margin-top: -10px;
        cursor: pointer;
      }

      #upload_section {
        width: 88%;
        margin: 0 auto;
        margin-top: -6px;
        margin-bottom: 6px;
        padding: 4px;
        border: 2px dashed $grey-lettering;
        background-color: $redish-background;
        @include border-radius(12px);
        height: 100px;
        text-align: center;
        color: $grey-lettering;
      }
    }
  }

  #messages_section {
    float: right;
    width: 83%;

    #upload_button {
      width: 3%;
      float: left;
      margin: 9px 4px 9px 0px;
      cursor: pointer;
    }

    #msg_input {
      float: left;
      width: 96%;

      input[type="text"] {
        width: 98%;
        padding: 6px;
        font-size: 1.4em;
        color: $near-white;
        border: none;
        background-color: $cgrey;
        margin: 8px;
        @include border-radius(6px);
        @include inset-box-shadow;
      
        &:hover, &:focus {
          border: none;
          outline: none;
          @include box-shadow(0px, 0px, 12px, 2px, 240, 223, 208, 0.5);      
        }
      } // end input[type="text"]
    } // end #msg_input
    
    #message_list_section {
      overflow: auto;
      padding: 7px;
      margin: 5px;
      @include border-radius(4px);
      background-color: $cdark-grey;
      @include inset-box-shadow;
      clear: both;

      @include messages_style;
    }
  } // end #messages_section

  #workstation_section {
    float: right;
    clear: none;
    width: 16%;
    margin: 5px;

    @include workstation_section_style;
  }
}

