@mixin messages_style {

  #message_loading_icon {
    width: 220px;
    margin: 0 auto;
    padding: 10px;
  }

  overflow: auto;
  padding: 7px;
  margin: 5px;
  @include rounded-corners(4px);
  background-color: $cdark-grey;
  @include inset-box-shadow;

  ul#message_list {

    li.message {
      display: table;
      width: 100%;
      padding: 6px;
      margin-bottom: 4px;
      font-size: 0.9em;
      @include rounded-corners(8px);
    
      .left-side {
        float: left;
        width: 70%;

        .sender {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
          font-size: .9em;
        } // end .message_sender 

        .content {
          font-size: 1.3em;
          margin: 3px 0px;
        } // end .message_content
      }
            
      .right-side {
        float: right;
        width: 30%;
        text-align: right;
                
        .timestamp {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
          font-size: .9em;
        } // end .message_timestamp 

        .readers {
          font-size: 0.8em;
          margin: 4px;
        }
      }
    } // end li.message

    li.message.owner {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#191919), to(#101010));
      background-image: -moz-linear-gradient(#191919, #101010);
      color: $near-white;
    } // end .owner

    li.message.recieved.unread {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F3F8), to(#EDEFF4));
      background-image: -moz-linear-gradient(#F2F3F8, #EDEFF4);
      color: $blackish;
      cursor: pointer;
    }

    li.message.recieved.read {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#96968E), to(#5C5B57));
      background-image: -moz-linear-gradient(#96968E, #5C5B57);
      color: $blackish;
    }
  } // end ul#message_list
} // end @mixin messages_style

