@import "messages_style";

@mixin messaging_page {

  #upload {

    width: 0.6%;
    float: left;

    #outer_upload_section {
      border: 2px solid $grey-lettering;
      width: 100%;
      background-color: $grey-background;
      @include rounded-corners(12px);

      #upload_close_button {
        margin-left: -10px;
        margin-top: -10px;
        cursor: pointer;
      }

      #upload_section {
        width: 88%;
        margin: 0 auto;
        margin-top: -6px;
        margin-bottom: 6px;
        border: 2px dashed $grey-lettering;
        background-color: $redish-background;
        @include rounded-corners(12px);
        height: 100px;
        text-align: center;
        color: $grey-lettering;
      }
    }
  }

  #messages_section {
    width: 80%;
    //float: right;
    margin-right: 4px;
    margin-top: -9px;

    #msg_input {

      #upload_button {
       // float: left;
        margin: 9px 4px 9px 0px;
        cursor: pointer;
      }

      input[type="text"] {
        width: 93.4%;
        padding: 6px;
        font-size: 1.4em;
        color: $dark-text;
        border: none;
        background-color: $near-white;
        margin: 8px;
        @include rounded-corners(6px);
      
        &:hover, &:focus {
          border: none;
          outline: none;
          @include box-shadow(0px, 0px, 12px, 2px, 240, 223, 208, 0.5);      
        }
      } // end input[type="text"]
    } // end #msg_input
    
    #message_list_section {
      @include messages_style;
    }
  } // end #messages_section
}

