@mixin messages_style {

  #message_loading_icon {
    width: 220px;
    margin: 0 auto;
    padding: 10px;
  }

  ul#message_list {
    padding: 5px;

    li.message {
      width: 99%;
      padding: 5px;
      margin-bottom: 5px;
      @include border-radius(6px);
    
      .top {
        font-family: sans-serif;
        font-weight: bold;
        font-size: .9em;
        margin-bottom: 5px;
        //@include text-shadow(0px 1px 1px rgba(255, 255, 255, 0.6));

        .sender {
          width: 70%;
          float: left;
        }

        .right {
          width: 30%;
          float: right;
          text-align: right;

          .readers {
            padding: 3px;
            font-size: 0.8em;
          }
        }
      }

      .content {
        text-align: left;
        font-size: 1.5em;
        margin: 24px 0px 6px 0px;
        word-wrap: break-word;

        a {
          color: $cool_blue;
        }
      }
    } // end li.message

    li.message.owner {
      @include background(linear-gradient(tint($blackish, 6), $blackish));
      color: $near-white;
    }

    li.message.recieved.unread {
      @include background(linear-gradient($near-white, shade($near-white, 20)));
      color: $blackish;
      cursor: pointer;
    }

    li.message.recieved.read {
      @include background(linear-gradient($msg-grey, shade($msg-grey, 50)));
      color: $blackish;
    }
  } // end ul#message_list
} // end @mixin messages_style

