@mixin register_page_style {

  @include form-style;

  #select_normal_workstation {
    @include border-radius(6px);
  }

  #signin_link {

    float: right;
    margin: -5px;
    font-size: 0.9em;
    color: $grey-lettering;

    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

