@mixin signin_page_style {

  @include form-style;
 
  #select_workstation {
    font-size: .8em;
  } 

  #register_link {

    float: right;
    margin: -5px;
    font-size: 0.9em;
    color: $grey-lettering;

    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

