@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius; 
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $spread, $red, $green, $blue, $alpha) {
  -webkit-box-shadow: $h-shadow $v-shadow $blur $spread rgba($red, $green, $blue, $alpha);
  -moz-box-shadow: $h-shadow $v-shadow $blur $spread rgba($red, $green, $blue, $alpha);
  box-shadow: $h-shadow $v-shadow $blur $spread rgba($red, $green, $blue, $alpha);
}

@mixin mac-button-style {
  border: none;
  background-color: #fff;
  @include rounded-corners(23px);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
  background-image: -moz-linear-gradient(0 100% 90deg, #bbb, #fff);
  @include box-shadow(0px, 1px, 2px, 0px, 0, 0, 0, 0.5);
}

@mixin mac-button-text-style {
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.85);
  font-family: Helvetica, Arial, sans-serrif;
  font-weight: bold;
  line-height: 1;
  color: #444;
}

@mixin message_section_style {
  margin: 0 auto;
  width: 99.302326%; // 854 / 860
  background-color: #000000;
  overflow: auto;
  color: $blue;
  @include rounded-corners(8px);
  border: 1px solid $near-white;

  ul#message_list {
    list-style: none;
    padding: 0px;

    li.owner {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#191919), to(#101010));
      background-image: -moz-linear-gradient(#191919, #101010);
      color: $near-white;

      ul.inner_message {
        .message_sender {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
        } // end .message_sender
        .message_timestamp {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
        } // end .message_timestamp
      }
    }

    li.recieved.unread {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F2F3F8), to(#EDEFF4));
      background-image: -moz-linear-gradient(#F2F3F8, #EDEFF4);
      color: $blackish;
      cursor: pointer;

      ul.inner_message {
        
        .message_sender {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
        } // end .message_sender
        .message_timestamp {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
        } // end .message_timestamp
      }
    }

    li.recieved.read {
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#96968E), to(#5C5B57));
      background-image: -moz-linear-gradient(#96968E, #5C5B57);
      color: $blackish;

      ul.inner_message {
        .message_sender {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
        } // end .message_sender
        .message_timestamp {
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          font-weight: bold;
        } // end .message_timestamp
      }
    }

    li.message {
      padding: 6px;
      margin: 4px;
      font-size: 1.2em;
      @include rounded-corners(8px);
    
      ul.inner_message {
        padding: 0px;

        li {
          list-style: none;
        }
        
        p {
          margin: 0px;
        }

        .message_sender {
          float: left;
        } // end .message_sender 
        
        .message_content {
          clear: both;
        } // end .message_content
          
        .message_timestamp {
          float: right;
        } // end .message_timestamp 

        .read_by {
          font-size: 0.8em;
        }
      } // end ul.inner_message
    } // end li.message
  } // end ul#message_list
} // end @mixin message_section_style

@mixin form-style {

  margin: 0 auto;
  width: 50%;
  
  text-align: center;

  h2 {
    color: $blackish;
    
    #title {
      font-size: 1.4em;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    }
  }

  .center_spot {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    color: $blue;
    background: $blackish;
    padding: 15px;
    text-align: left;
    @include rounded-corners(7px);
    @include box-shadow(2px, 2px, 2px, 0px, 0, 0, 0, 0.7);

    p {
      color: $dark-text;
    }

    a {
      color: $blue;
      text-decoration: none;
    }

    .field {
      margin: 8px 0px;

      input[type="text"] {
        width: 95%;
        padding: 5px 8px;
        font-size: 1.2em;
        color: $dark-text;
        border: none;
        background-color: $near-white;
        @include rounded-corners(6px);
      
        &:hover, &:focus {
          border: none;
          outline: none;
          @include box-shadow(0px, 0px, 12px, 2px, 34, 147, 150, 0.5);      
        }
      }

      input[type="password"] {
        width: 95%;
        padding: 5px 8px;
        font-size: 1.2em;
        color: $dark-text;
        border: none;
        background-color: $near-white;
        @include rounded-corners(6px);
      
        &:hover, &:focus {
          border: none;
          outline: none;
          @include box-shadow(0px, 0px, 12px, 2px, 34, 147, 150, 0.5);      
        }
      }

      label[for="user_user_name"] {
        cursor: pointer;
      }

      .field_with_errors {
        display: inline;
        color: $red;

        input[type="text"] {
          border: 2px solid $red;
        }

        input[type="password"] {
          border: 2px solid $red;
        }
      }
    } // end .field 

    .actions {
      input[type="submit"] {
        margin-top: 10px;
        padding: 8px 15px;
        @include mac-button-style;
        @include mac-button-text-style; 

        &:hover, &:focus {
          @include box-shadow(0px, 1px, 6px, 2px, 34, 147, 150, 0.5);
          text-shadow: 0 0px 1px rgba(34, 147, 150, 0.5);
        }
      }
    } // end .actions
  } // end .center_spot
} // end mixin form-style

@mixin desk_select_style {

  #select_desk {
    font-size: .8em;
  }
}
