@import "colors";
@import "fonts";
@import "style_mixins";

@mixin workstation_section_style {

  #loading {
    width: 40px;
    margin: 0 auto;
    padding-top: 20px;
  }

  #workstations {

    font-weight: bold;
    background-color: $fgrey;
    @include inset-box-shadow;
    @include border-radius(6px);
        
    .recipient_workstation {

      text-align: center;
      cursor: pointer;
      color: $white-text;

      .outer {

        border-bottom: $blackish dotted 1px;
        padding: 5px 20px;
        height: 30px;
        width: 100%;

        .info {
          font-size: 0.9em;
          width: 50%;
          padding-left: 15%;
          float: left;
        }
        
        .icon {
          color: yellow;
          font-size: 1.5em;
          width: 20%;
          float: left;
        }
      }
    }
      
    .other {

      &:hover, &:focus {
        @include inset-box-shadow;
      }
    }
    
    .last {
      border: none;
    }

    .mine {
      color: $red;
    }

    .on {
    }

    .off {
    }

    .all {
      padding: 5px 20px;
      font-size: 0.8em;
    }

    .none {
      padding: 5px 20px;
      font-size: 0.8em;
    }
  }
}

