@import "colors";
@import "fonts";
@import "style_mixins";

@mixin workstation-text-style {
  font-family: Helvetica, Arial, sans-serrif;
  font-weight: bold;
  line-height: 1;
  font-size: .9em;
  color: $grey;
}

@mixin workstation_section_style {

  width: 19%;
  float: right;

  #recipient_workstation_selection {
    font-size: .86em;

    .recipient_workstation {

      @include workstation-text-style;
      padding: 5px;
      text-align: center;
      cursor: pointer;
      background-color: $grey-background;
      border-bottom: 1px solid grey;

      &:hover, &:focus {
        background-color: $dark-text;
        color: $near-white;
      }
    }
    
    .first {
      @include rounded-corners-seperate(6px, 6px, 0, 0);
    }

    .last {
      @include rounded-corners-seperate(0, 0, 6px, 6px);
      border-bottom: 0px;
    }

    p {
      margin: 0px;
    }

    .mine {
      color: #265902;
      background-repeat: no-repeat;
      background-position: 18% 50%;
    }

    .on {
      color: black;
      background-image: url('lightning.png');
      background-repeat: no-repeat;
      background-position: 90% 45%;
    }

    .off {
      color: black;
    }

    .all {
      color: black;
    }
  }
}

