@import "colors";
@import "fonts";
@import "style_mixins";

@mixin workstation_section_style {

  #workstation_loading_icon {
    width: 40px;
    margin: 0 auto;
    padding-top: 20px;
  }

  #recipient_workstation_selection {

    background-color: $cdark-grey;
    @include inset-box-shadow;
    @include border-radius(6px);
        
    .recipient_workstation {

      padding: 5px;
      text-align: center;
      cursor: pointer;
      @include text-style;
      border-bottom: $cgrey dotted 1px;
    }
      
    .other {

      &:hover, &:focus {
        @include inset-box-shadow;
      }
    }
    
    .last {
      border: none;
    }

    .mine {
      color: $red;
    }

    .on {
      background-image: url('lightning.png');
      background-repeat: no-repeat;
      background-position: 90% 45%;
    }

    .off {
    }

    .all {
    }
  }
}

