/* 
*= require_self 
*= require_tree . 
*/

@import "colors";
@import "fonts";
@import "style_mixins";

img {
  max-width: 100%; 
}

body {
  background-color: $blue;
  font-family: sans-serif;

  #page {
    margin: 0 auto;
    width: 90%;

    #application {
      margin: 0 auto;
      width: 93.73%; // 900 / 960 

      #header {
        width: 100%;

        #logo {
          width: 23.111111111%; // 208 / 900
          margin: 0 auto -1.8%; 
        } // end #logo 

        h1 {
          font-size: 4.5em;
          font-family: $fugaz_one;
          text-align: center;
          font-weight: normal;
          color: $yellow;
          padding: 0px;
          margin: 0px;
          text-shadow: 3px 3px 6px rgba(240, 223, 208, 0.5);
        }
      } // end #header

      #content {
        width: 100%;
      } // end #content

      #footer {
        width: 100%;
      } // end #footer
    } // end #application 
  } // end #page
} // end body
