/* 
*= require_self 
*= require_tree . 
*/

@import "colors";
@import "fonts";
@import "style_mixins";

img {
  max-width: 100%; 
}

body {
  background-color: $grey;
  font-family: sans-serif;

  #page {
    margin: 0 auto;

    #header {
      margin: 0 auto;
    } // end #header

    #content {
      @include rounded-corners(7px);
      @include box-shadow(2px, 2px, 2px, 0px, 0, 0, 0, 0.7);
      margin: 0 auto;
      width: 95%;
      padding: .9%;
      background-color: black;
    } // end #content

    #footer {
      width: 100%;
    } // end #footer
  } // end #page
} // end body
