@import "colors";
@import "fonts";
@import "header";
@import "style_mixins";
@import "register_page_style";
@import "signin_page_style";
@import "messaging_page";
@import "volume_slider_style";
@import "files_page";
@import "edit_profile_page_style";
@import "change_password_page_style";
@import "transcripts_page_style";
@import "transcript_page_style";
@import "new_transcript_page_style";
@import "manage_users_page_style";
@import "compass/reset";
@import "compass/css3/font-face";
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "font-awesome";
@import "jquery.ui.slider";

@include font-face('Raleway',
    font-files('Raleway-Regular.ttf')
);

img {
  max-width: 100%; 
}

.smaller {
  font-size: 0.8em;
}

.bigger {
  font-size: 1.7em;
}

.bolder {
  font-weight: bold;
}

.link_button {
  @include link_button_style;
}

#page_title {
  padding: 5px;
  color: $near-white;
}

body {
  background-color: black;
  font-family: 'Raleway', san-serif;

  #page {

    #header {
      @include header_style;
    }

    #register_page {
      @include register_page_style;
    }

    #signin_page {
      @include signin_page_style;
    }

    #messaging_page {
      @include messaging_page;

      #volume_slider {
        @include volume_slider_style;
      }
    }

    #files_page {
      @include files_page;
    }

    #edit_profile_page {
      @include edit_profile_page_style;
    }

    #change_password_page {
      @include change_password_page_style;
    }

    #transcripts_page {
      @include transcripts_page_style;
    }

    #transcript_page {
      @include transcript_page_style;
    }

    #new_transcript_page {
      @include new_transcript_page_style;
    }

    #manage_users_page {
      @include manage_users_page_style;
    }

    #flash {
      color: $white_text;
    }

    #footer {
      width: 100%;
    }

    #error_explanation {
      padding: 8px;
      color: $error-red;
      font-size: 0.8em;
      border: solid $error-red 1px;
      @include border-radius(3px);
      background: $error-light-red url('cone.png') no-repeat 2% 20%;
      //@include box-shadow(2px, 2px, 2px, 0px, 255, 255, 255, 0.7);

      ul {
        margin: 6px;
        list-style: none;
      }
    } // end #error_explanation
  } // end #page

  // jquery ui volume slider
  .ui-slider .ui-slider-handle {
    @include border-radius(23px);
    cursor: pointer;
    outline: none;
    margin-left: -4px;
  }
  .ui-slider {
    width: 4px;
    margin: 5px;
  }
} // end body
