@import "colors";
@import "style_mixins";
@import "messages_style";

#upload {

  width: 0.6%;
  float: left;

  #upload_button {
    margin-left: -16px;
    margin-top: -16px;
    cursor: pointer;
  }

  #upload_section {
    border: 1px solid white;
    width: 100%;
    height: 100px;
    margin: 3px;
  }
}

#messages_section {
  width: 80%;
  float: right;
  margin-right: 10px;
  margin-top: -4px;

  #msg_input {
    input[type="text"] {
      width: 99%;
      padding: 6px;
      font-size: 1.4em;
      color: $dark-text;
      border: none;
      background-color: $near-white;
      margin-bottom: 8px;
      @include rounded-corners(6px);
    
      &:hover, &:focus {
        border: none;
        outline: none;
        @include box-shadow(0px, 0px, 12px, 2px, 240, 223, 208, 0.5);      
      }
    } // end input[type="text"]
  } // end #msg_input
  
  #message_list_section {
    @include messages_style;
  } // end #message_list_section
} // end #messages_section

