@import "colors";
@import "fonts";
@import "style_mixins";

#recipient_workstation_selection {
  width: 20%;
  float: right;
  color: $near-white;
  font-size: .86em;

  .recipient_workstation {
    //float: left;
    white-space: nowrap;
    padding: 5px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    @include mac-button-style;
    @include mac-button-text-style;
  }

  p {
    margin: 0px;
  }

  .mine {
    color: $blue;
  }

  .on {
    color: $green;
  }

  .off {
  }

  .all {
  }
}

#messages {
  width: 80%;
  float: left;

  #upload_button {
    margin-bottom: 5px;

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      font-weight: bold;
      padding: 2px 3px;
      margin: 0px;
      font-size: .86em;

      &:hover, &:focus {
        color: $blue;
        background: rgba(0, 76, 152, 0.5); 
        @include rounded-corners(4px);
      }
    } 
  }

  #upload_section {
    display: none;
    //background-color: $near-white;
    @include rounded-corners(8px);
    //width: 100%;
    height: 40px;
    margin: 5px;

    input[type="file"] {
      background-color: $near-white;
      @include rounded-corners(6px);
      margin: 5px;
      color: $blue;
      padding: 5px 8px;
    } // end input[type="file"]

    input[type="submit"] {
      padding: 8px 15px;
      @include mac-button-style;
      @include mac-button-text-style;
    } // end input[type="submit"]
  } // end #upload_section 

  #msg_input {
    //  clear: both;
    margin: 5px;
    padding: 5px;
    text-align: center;

    input[type="text"] {
      width: 98%;
      padding: 6px;
      font-size: 1.4em;
      color: $dark-text;
      border: none;
      background-color: $near-white;
      @include rounded-corners(6px);
    
      &:hover, &:focus {
        border: none;
        outline: none;
        @include box-shadow(0px, 0px, 12px, 2px, 240, 223, 208, 0.5);      
      }
    } // end input[type="text"]
  } // end #msg_input
} // end #messages

#messages_section {
  @include message_section_style;
} // end #messages_section

#signup {
  @include form-style;
}
