@import "colors";
@import "fonts";
@import "style_mixins";

#register {
  @include form-style;
}

#message_loading_icon {
  width: 220px;
  margin: 0 auto;
  padding: 10px;
}

#workstation_loading_icon {
  width: 40px;
  margin: 0 auto;
  padding-top: 20px;
}
