<!DOCTYPE html>
<html>

  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <div id="page">

      <div id="top_logo">
        <h1>Amtrak Messenger</h1>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
      </div>

    </div><!-- end user_show_main -->
    <%= debug(params) if Rails.env.development? %>

    <div id='tone'></div>

  </body>

</html>
