<!DOCTYPE html>
<html>

  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <div id="page">

      <div id="header">
        <%= render 'layouts/header' %>
      </div>

      <div id='flash'>
        <%= render partial: 'layouts/flash', locals: { flash: flash } %>
      </div>

      <%= yield %>

      <div id="footer"></div>

    </div> <!-- end #page -->

    <audio src="../../assets/soft_chime_beep.mp3">
      <p>Your browser does not support the web audio api</p>
    </audio>

  </body>

</html>
