<!DOCTYPE html>
<html>

  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <div id="page">

      <div id="application">

        <div id="header">
          <div id="logo">
            <%= image_tag "amtrak_logo.png" %>
          </div>
          <h1>Messenger</h1>
        </div>

        <div id="content">
          <%= yield %>
        </div>

        <div id="footer"></div>

        <%= debug(params) if Rails.env.development? %>
      
      </div> <!-- end #application -->
      
    </div> <!-- end #page -->

    <div id='tone'></div>

  </body>

</html>
