<!DOCTYPE html>
<html>

  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <div id="page">

      <div id="header">
        <%= render 'layouts/header' %>
      </div>

      <%= yield %>

      <div id="footer"></div>

    </div> <!-- end #page -->

    <div id='tone'></div>

  </body>

</html>
